
:root {
  --color-1: #1abc9c;
  --color-2: #2ecc71;
  --color-3: #3498db;
  --color-4: #9b59b6;

}

.container {
    margin: 30px;
    text-align: center;
  }
  
  h1 {
    font-family: Helvetica, Sans-serif;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
  }
  
 
 
  .loader {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 16px solid #bdc3c7;
    width: 100px;
    height: 100px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    /* animation: */
    animation: coloredspin 2s linear infinite;
  
  }
  
  @keyframes spin {
      0% {
       transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
      
  }
  
  @keyframes coloredspin {
      0% {
       transform: rotate(0deg) scale(1);
         border-top-color: var(--color-1);
        border-bottom-color: var(--color-1);
      }
      25% {
        border-top-color: var(--color-2);
        border-bottom-color: var(--color-2);
      }
      50% {
        transform: rotate(360deg) scale(1.05);
        border-top-color: var(--color-3);
        border-bottom-color: var(--color-3);
      }
       75% {
        border-top-color: var(--color-4);
        border-bottom-color: var(--color-4);
      }
      100% {
        transform: rotate(720deg) scale(1);
        border-top-color: var(--color-1);
        border-bottom-color: var(--color-1);
      }
      
  }
  